numpy
pandas
matplotlib
seaborn
scikit-learn
scikit-image
opencv-python
scipy
tqdm
colorama
glob2
librosa
torch
torchvision
torchaudio
lightgbm
xgboost
catboost
pyarrow
polars
keras
